#edit-workbench-allocation.workbench-allocation-select {
  height: inherit;
}

fieldset.workbench-allocation div.fieldset-wrapper div,
fieldset.workbench-allocation div.fieldset-wrapper label {
  display: block;
  padding-left: 10px;
}

fieldset.workbench-allocation {
  border: 0;
}

fieldset.workbench-allocation div.fieldset-content {
  padding: 0;
}
